/*
* ============================================ HOME ====================================================
*/

body {
	margin:0;
	padding:50px 0 50px 0;
}

	.social li a {
		color: #F08262;

	}

	li a:hover {
		opacity: 0.5;
	}

	li a {
		text-decoration: none;
		color: inherit;
	}




@media only screen and (max-width: 800px){
    .container { width: 90%; }
    .intro { 
    	width: 90%;
    	padding: 0;
     }
}


.content {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 90%;
	position: relative;
	margin: 0 auto; 
	box-shadow: 1px 1px 10px #EAEAEA;
	list-style: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	color: #797979;
}


/*
* === HEADER ===
*/

.header {
	height: 50px;
	flex-direction: row;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
}


.home {
	font-size: 1.3em;
}


.social {
	font-size: 2em;
	display: inline-flex;
}

.social li {
	padding-left: 20px;
	color: #F08262;
}



/*
* === INTRO ===
*/

.intro {
	height: 420px;

}

.intro-text {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 200px 22% 20px 22%;

}

.intro-h2 {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 2.4em;
	width: 100%;
	text-decoration: none;
}

.intro-h2 a {
	color: #F08262;
}


.typed-cursor {
	opacity: 1;
	font-family: 'Lora', serif;
	color: #F08262;
	font-size: 20px;
	animation: blink .7s infinite;
	margin: 0;
	padding-top: 3px;


    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    #bio {
    	font-family: 'Merriweather', serif;
    	color: #F08262;
    	font-size: 1.5em;
    	margin: 0;
    	padding-top: 8px;
    }



/*
* === WORK ===
*/

.worktitle {
	display: flex;
	flex-direction: column;
	padding: 0px 0 0px 22%;
}

.abouttitle {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

.title {
	font-family: 'Merriweather', serif;
	color: #B1B1B1;
	font-size: 1.2em;
	padding-bottom: 5px;

}


.project-name {
	padding-top: 15px;
	font-size: 2em;
}

.project-description {
	padding-top: 5px;
	font-family: 'Merriweather', serif;
	color: #F08262;
	font-size: 1.2em;

}

.projects-container a {
	text-decoration: none;
	color: inherit;

}


.projects-container {
	display: flex;
	flex-direction: column;
	padding: 0px 22% 0px 22%;

}

.project {
	height: 300px;
	width: 100%;
	padding: 20px 0px 100px 0px;
	-webkit-transform: scale(1.00);
	transition: 0.3s;
}

.project:hover {
	-webkit-transform: scale(1.02);
	transition: 0.25s;

}

.project-image {
	background-color: #F1F1F1;
	height: 300px;
}


/*
* === ABOUT ME ===
*/


.about-me {
	padding: 0px 22% 100px 22%;
}

.about-me p {
	font-size: 1.2em;
	line-height: 1.5;
}




/*
* === FOOTER ===
*/


.copyright {
	font-size: 10px;
	text-align: center;
	padding-bottom: 15px;
	color: #D0D0D0;
}







/*
* ============================================ CETARIS ====================================================
*/


.cetaris-intro{
	padding: 150px 22% 20px 22%;
	display: flex;
	flex-direction: column;
}

.cetaris-intro h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 300;
	margin: 0;
	
}

.cetaris-intro p {
	font-family: 'Merriweather', serif;
	color: #F49E86;
	font-size: 1em;
	margin: 0;
	padding-top: 8px;
	font-weight: 100;
	
}


.cetaris-bio {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	margin: 0;
	padding-top: 30px;	
	line-height: 24px;
}

.cetaris-bio a {
	text-decoration: none;
	color: inherit;
}

.cetaris-bio a:hover {
		opacity: 0.5;
	}

.cetaris-bio-link {
	border-bottom: 2px solid #F08262;
}

.cetaris-year {
	padding: 0px 22% 60px 22%;
	display: flex;
	flex-direction: row;
	font-family: 'Merriweather', serif;
	color: #AFAEAE;
	font-size: 1em;
	list-style-type: circle;
	list-style-position: outside;
	line-height: 20px;
}

.cetaris-year li {
	list-style-position: outside;
}

.accomplishments {
	padding-right: 60px;
} 

.cetaris-image {
	padding: 0px 22% 20px 22%;

}

.home-button {
	padding: 20px 22% 100px 22%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.button {
	padding-left: 5px;
	text-decoration: none;
	color: inherit;	
}


